7847166209:AAFfQLo46-rMVJxfuL9MxXNM-QzP3nKUn5g
ببین قدم به قدم بهت میگم چیکار قراره انجام بشه قراره دو حالت داشته باشه باتع برای ارتباط برقراری یکیش قراره این باشه وقتی کاربر در هرجایی اومدش آیدی بات رو زد بالای تکس باکسش دکمه شروع بازی ها بیادش که \یامی ارسال میشه به اون چت حاویه خوش آمد گویی نمایش ستا کامانال برای عضویت و دکمه درباره ما و شروع بازی که دوتا دکمس یکی گیم یک و دیگری گیم دوم حالا حالت دیگه برقراری ارتباط با رباتم ارتباط مستقیم هستش که استارت رو ارسال میکنه و \یام خوش مد گویی و کانال ها نمایش داده میشه بهش اما با این تفاوت که دکمه شروع بازی نداره و دکمه بازی با دوستان هستش که با زدن روش میره تو مخاطبینش یا گروه ها بره ببینه و بزنه